/*************
* Animations *
*************/
@-webkit-keyframes rotateTopSideFirst {
  40% { -webkit-transform: rotateX(15deg); opacity: .8; -webkit-animation-timing-function: ease-out; }
  100% { -webkit-transform: scale(0.8) translateZ(-200px); opacity:0; }
}
@-moz-keyframes rotateTopSideFirst {
  40% { -moz-transform: rotateX(15deg); opacity: .8; -moz-animation-timing-function: ease-out; }
  100% { -moz-transform: scale(0.8) translateZ(-200px); opacity:0; }
}
@keyframes rotateTopSideFirst {
  40% { transform: rotateX(15deg); opacity: .8; animation-timing-function: ease-out; }
  100% { transform: scale(0.8) translateZ(-200px); opacity:0; }
}

@-webkit-keyframes moveFromTop {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTop {
  from { -moz-transform: translateY(-100%); }
}
@keyframes moveFromTop {
  from { transform: translateY(-100%); }
}

.page-rotateTopSideFirst {
  transform-origin: 50% 100%;
  animation: rotateTopSideFirst .8s both ease-in;
}

.page-moveFromTop {
  animation: moveFromTop .6s ease both;
}

.page-delay200 {
  animation-delay: .2s;
}

/****************
* Base elements *
****************/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

table {
  border-spacing:0;
  border-collapse:collapse;
  tr, td {
    padding: 0;
  }
}

html, body, body > table {
  height: 100%;
  width: 100%;
}

* {
  font-family: "open sans";
  font-weight: 300;
}

b {
  font-weight: 400;
}

/********
* Icons *
********/
@font-face {
  font-family: 'colourcode-icomoon';
  src:url('/css/fonts/icomoon.eot?20130614');
  src:url('/css/fonts/icomoon.eot?20130614#iefix') format('embedded-opentype'),
  url('/css/fonts/icomoon.woff?20130614') format('woff'),
  url('/css/fonts/icomoon.ttf?20130614') format('truetype'),
  url('/css/fonts/icomoon.svg?20130614#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

*[class*=icon] {
  &, & * {
    font-family: 'colourcode-icomoon';
    font-weight: normal;
    font-style: normal;
    height: 1em;
  }
}

// code / schemes
.menu-item {
  .icon-scheme {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: absolute;
    }

    &.scheme-none {
      li:nth-child(1):before { content: 'a'; }
      li:nth-child(2):before { content: 'c'; }
      li:nth-child(3):before { content: 'e'; }
      li:nth-child(4):before { content: 'g'; }
      li:nth-child(5):before { content: 'i'; }
      li:nth-child(6):before { content: 'k'; }
      li:nth-child(7):before { content: 'm'; }
      li:nth-child(8):before { content: 'o'; }
      li:nth-child(9):before { content: 'q'; }
      li:nth-child(10):before { content: 's'; }
      li:nth-child(11):before { content: 'u'; }
      li:nth-child(12):before { content: 'w'; }
    }

    &.scheme-monochrome {
      li:nth-child(1):before { content: 'u'; }
      li:nth-child(2):before { content: 'w'; }
      li:nth-child(3):before { content: 'a'; }
      li:nth-child(4):before { content: 'c'; }
      li:nth-child(5):before { content: 'e'; }
    }

    &.scheme-monochrome-dark {
      li:nth-child(1):before { content: 't'; }
      li:nth-child(2):before { content: 'v'; }
      li:nth-child(3):before { content: 'b'; }
      li:nth-child(4):before { content: 'd'; }
      li:nth-child(5):before { content: 'f'; }
    }

    &.scheme-monochrome-light {
      li:nth-child(1):before { content: 't'; }
      li:nth-child(2):before { content: 'v'; }
      li:nth-child(3):before { content: 'x'; }
      li:nth-child(4):before { content: 'd'; }
      li:nth-child(5):before { content: 'f'; }
    }

    &.scheme-analogic {
      li:nth-child(1):before { content: 's'; }
      li:nth-child(2):before { content: 'v'; }
      li:nth-child(3):before { content: 'a'; }
      li:nth-child(4):before { content: 'd'; }
      li:nth-child(5):before { content: 'g'; }
    }

    &.scheme-analogic-complement {
      li:nth-child(1):before { content: 'v'; }
      li:nth-child(2):before { content: 'a'; }
      li:nth-child(3):before { content: 'd'; }
      li:nth-child(4):before { content: 'l'; }
      li:nth-child(5):before { content: 'n'; }
    }

    &.scheme-complement {
      li:nth-child(1):before { content: 'w'; }
      li:nth-child(2):before { content: 'a'; }
      li:nth-child(3):before { content: 'c'; }
      li:nth-child(4):before { content: 'l'; }
      li:nth-child(5):before { content: 'n'; }
    }

    &.scheme-triad {
      li:nth-child(1):before { content: 'w'; }
      li:nth-child(2):before { content: 'a'; }
      li:nth-child(3):before { content: 'c'; }
      li:nth-child(4):before { content: 'j'; }
      li:nth-child(5):before { content: 'p'; }
    }

    &.scheme-quad {
      li:nth-child(1):before { content: 'x'; }
      li:nth-child(2):before { content: 'b'; }
      li:nth-child(3):before { content: 'g'; }
      li:nth-child(4):before { content: 'm'; }
      li:nth-child(5):before { content: 's'; }
    }
  }

  &:hover {
    .scheme-none {
      li:nth-child(1):before {  color: hsl(  0, 50%, 50%); }
      li:nth-child(2):before {  color: hsl( 30, 50%, 50%); }
      li:nth-child(3):before {  color: hsl( 60, 50%, 50%); }
      li:nth-child(4):before {  color: hsl( 90, 50%, 50%); }
      li:nth-child(5):before {  color: hsl(120, 50%, 50%); }
      li:nth-child(6):before {  color: hsl(150, 50%, 50%); }
      li:nth-child(7):before {  color: hsl(180, 50%, 50%); }
      li:nth-child(8):before {  color: hsl(210, 50%, 50%); }
      li:nth-child(9):before {  color: hsl(240, 50%, 50%); }
      li:nth-child(10):before { color: hsl(270, 50%, 50%); }
      li:nth-child(11):before { color: hsl(300, 50%, 50%); }
      li:nth-child(12):before { color: hsl(330, 50%, 50%); }
    }

    .scheme-monochrome {
      li:nth-child(1):before { color: hsl(0, 40%, 40%); }
      li:nth-child(2):before { color: hsl(0, 45%, 45%); }
      li:nth-child(3):before { color: hsl(0, 50%, 50%); }
      li:nth-child(4):before { color: hsl(0, 55%, 55%); }
      li:nth-child(5):before { color: hsl(0, 60%, 60%); }
    }

    .scheme-monochrome-dark {
      li:nth-child(1):before { color: hsl(0,  0%, 20%); }
      li:nth-child(2):before { color: hsl(0,  0%, 35%); }
      li:nth-child(3):before { color: hsl(0, 50%, 50%); }
      li:nth-child(4):before { color: hsl(0, 55%, 55%); }
      li:nth-child(5):before { color: hsl(0, 60%, 60%); }
    }

    .scheme-monochrome-light {
      li:nth-child(1):before { color: hsl(0, 40%, 40%); }
      li:nth-child(2):before { color: hsl(0, 45%, 45%); }
      li:nth-child(3):before { color: hsl(0, 50%, 50%); }
      li:nth-child(4):before { color: hsl(0,  0%, 65%); }
      li:nth-child(5):before { color: hsl(0,  0%, 80%); }
    }

    .scheme-analogic {
      li:nth-child(1):before { color: hsl(240, 40%, 40%); }
      li:nth-child(2):before { color: hsl(300, 45%, 45%); }
      li:nth-child(3):before { color: hsl(  0, 50%, 50%); }
      li:nth-child(4):before { color: hsl( 60, 55%, 55%); }
      li:nth-child(5):before { color: hsl(120, 60%, 60%); }
    }

    .scheme-analogic-complement {
      li:nth-child(1):before { color: hsl(300, 45%, 45%); }
      li:nth-child(2):before { color: hsl(  0, 50%, 50%); }
      li:nth-child(3):before { color: hsl( 60, 55%, 55%); }
      li:nth-child(4):before { color: hsl(180, 40%, 40%); }
      li:nth-child(5):before { color: hsl(180, 60%, 60%); }
    }

    .scheme-complement {
      li:nth-child(1):before { color: hsl(  0, 35%, 35%); }
      li:nth-child(2):before { color: hsl(  0, 50%, 50%); }
      li:nth-child(3):before { color: hsl(  0, 65%, 65%); }
      li:nth-child(4):before { color: hsl(180, 40%, 40%); }
      li:nth-child(5):before { color: hsl(180, 60%, 60%); }
    }

    .scheme-triad {
      li:nth-child(1):before { color: hsl(  0, 35%, 35%); }
      li:nth-child(2):before { color: hsl(  0, 50%, 50%); }
      li:nth-child(3):before { color: hsl(  0, 65%, 65%); }
      li:nth-child(4):before { color: hsl(120, 60%, 60%); }
      li:nth-child(5):before { color: hsl(240, 60%, 60%); }
    }

    .scheme-quad {
      li:nth-child(1):before { color: hsl(  0, 35%, 35%); }
      li:nth-child(2):before { color: hsl(  0, 65%, 65%); }
      li:nth-child(3):before { color: hsl( 90, 60%, 60%); }
      li:nth-child(4):before { color: hsl(180, 60%, 60%); }
      li:nth-child(5):before { color: hsl(270, 60%, 60%); }
    }
  }
}

//menu icons
.icon-colourcode:before {
  padding-left: 1px;
  content: 'C';
}
.icon-convert:before {
  content: '-';
}
.icon-save:before {
  content: '_';
}
.icon-menu:before {
  content: 'R';
}
.icon-links:before {
  content: 'X';
}
.icon-social:before {
  content: 'Y';
}
.icon-saturation:before {
  content: 'B';
}
.icon-less:before {
  content: 'K';
}
.icon-image:before {
  content: 'E';
}
.icon-help:before {
  content: '?';
}
.icon-git:before {
  content: 'G';
}
.icon-bugs:before {
  content: 'A';
}
.icon-mail:before {
  content: 'M';
}
.icon-legal:before {
  font-family: "open sans";
  content: '§';
  display: block;
  margin-top: -2px;
}
.icon-twitter:before {
  content: 'T';
}
.icon-web:before {
  content: 'W';
}
.icon-codepen:before {
  content: 'H';
}
.icon-dribbble:before {
  content: 'D';
}
.icon-commercial:before {
  content: 'Z';
}
.icon-trash:before {
  content: 'P';
}
.icon-left:before {
  content: '<';
}
.icon-right:before {
  content: '>';
}
.icon-up:before {
  content: '^';
}
.icon-down:before {
  content: 'V';
}

/***************
* Base classes *
***************/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.perspective {
  position: relative;
  perspective: 1200px;
}

/********
* Pages *
********/
.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
}

.page-current,
.no-js .page {
  visibility: visible;
  z-index: 1;
}

.page-ontop {
  z-index: 999;
}

/* Text Styles, Colors, Backgrounds */

.page h1 {
  padding-top: 1em;
  font-size: 4.4em;
  line-height: 1;
  letter-spacing: 6px;
  margin: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  word-spacing: -0.3em;
}

.page h1 span {
  font-size: 40%;
  text-transform: none;
  word-spacing: 0;
  letter-spacing: 0;
  display: block;
  opacity: 0.4;
}

.page h1 b {
  color: rgba(0,0,0,0.1);
  font-weight: 300;
}

.page-loading {
  background: #0ac2d2;
}

.page-scheme {
  background: #000;

  .scheme {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;

    &:first-child {
      z-index: 6
    }

    &:last-child {
      z-index: 4;
    }

    .swatches {
      height: 100%;
      width: 101%;
      overflow: hidden;
    }

    .swatch {
      transition: width 1s;
      height: 100%;
      float: left;
      overflow: hidden;

      [class*=icon-] {
        cursor: pointer;
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      [class*=pos-] {
        position: absolute;
        height: 1em;
        font-size: 1.5em;
        text-align: center;

        &.pos-t {
          top: 0%;
        }
        &.pos-tc {
          top: 25%;
          margin-top: -0.5em;
        }
        &.pos-c {
          top: 50%;
          margin-top: -0.5em;
        }
        &.pos-bc {
          top: 75%;
          margin-top: -0.5em;
        }
        &.pos-b {
          top: 100%;
          margin-top: -1em;
        }
      }

      .removed {
        width: 0% !important;
      }
    }

    &.count-1  { [class*=pos-], .swatch { width: 95.00%; }}
    &.count-2  { [class*=pos-], .swatch { width: 47.50%; }}
    &.count-3  { [class*=pos-], .swatch { width: 31.66%; }}
    &.count-4  { [class*=pos-], .swatch { width: 23.75%; }}
    &.count-5  { [class*=pos-], .swatch { width: 19.00%; }}
    &.count-6  { [class*=pos-], .swatch { width: 15.83%; }}
    &.count-7  { [class*=pos-], .swatch { width: 13.57%; }}
    &.count-8  { [class*=pos-], .swatch { width: 11.87%; }}
    &.count-9  { [class*=pos-], .swatch { width: 10.55%; }}
    &.count-10 { [class*=pos-], .swatch { width: 10.00%; }
      .swatch:last-child {
        display: none;
      }
    }
    .swatch:last-child { &, [class*=pos-]{width:  5.00%; }
      background-color: #000;
      color: #666;
    }

    &.edit-active {
      &.count-0  { [class*=pos-], .swatch { width: 100.0%; }}
      &.count-1  { [class*=pos-], .swatch { width: 50.00%; }}
      &.count-2  { [class*=pos-], .swatch { width: 33.33%; }}
      &.count-3  { [class*=pos-], .swatch { width: 25.00%; }}
      &.count-4  { [class*=pos-], .swatch { width: 20.00%; }}
      &.count-5  { [class*=pos-], .swatch { width: 16.66%; }}
      &.count-6  { [class*=pos-], .swatch { width: 14.28%; }}
      &.count-7  { [class*=pos-], .swatch { width: 12.50%; }}
      &.count-8  { [class*=pos-], .swatch { width: 11.11%; }}
      &.count-9  { [class*=pos-], .swatch { width: 10.00%; }}
      &.count-10 { [class*=pos-], .swatch { width: 10.00%; }}
    }
  }
}

.page-legal {
  background: #60d7a9;
  overflow: auto;

  > div {
    font-size: 0.7em;
    padding: 0.5em 2em;

    &:first-child {
      padding-top: 15em;
    }
  }
}

.page-help {
  background: #fdc162;
}

/*******
* Menu *
*******/
.menu {
  vertical-align: top;
  box-shadow: inset -1px 0px 3px #888;
  transition: width 0.5s;
  overflow: hidden;
  width: 30px;

  .menu-item {
    width: 250px;
    border-left-size: 3px;
    border-left-style: solid;
    border-left-color: transparent;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;

    &.active {
      border-left-color: hsl(0, 50%, 50%);
    }

    *[class*=icon] {
      font-size: 18px;
      padding: 2px;
      width: 24px;
      float: left;

      &:before, & *:before {
        color: #999;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
      }
    }

    > span {
      font-size: 0.8em;

      input[type=text] {
        width: 15px;
        font-size: 8px;
        font-weight: 400;
      }
    }

    &.menu-static {
      cursor: pointer;
      opacity: 1;
      > span {
        transition: opacity 0.5s;
        opacity: 0;
      }
    }

    &.menu-convert {
      > span {
        vertical-align: 6px;
      }
    }

    &.menu-saturation {
      > span {
        vertical-align: 3px;
        > span {
          vertical-align: 5px;
        }
      }
    }

    &.menu-links {
      > div {
        float: left;
      }
      a {
        text-decoration: none;
        font-size: 1.25em;
        width: auto;
      }
    }

    &.menu-social {
      > div {
       float: left;
      }
    }

    &.menu-commercial {
      > div {
       float: left;
      }
      > div.ads {
        font-size: 0.8em;
        width: 160px;
        a {
          text-decoration: none;
          color: black;
        }
        .influads_powered_link {
          font-size: 0.8em;
        }
      }
    }

    &:nth-child(1)  { top:   0px; }
    &:nth-child(2)  { top:  30px; }
    &:nth-child(3)  { top:  55px; }
    &:nth-child(4)  { top:  80px; }
    &:nth-child(5)  { top: 105px; }
    &:nth-child(6)  { top: 130px; }
    &:nth-child(7)  { top: 155px; }
    &:nth-child(8)  { top: 180px; }
    &:nth-child(9)  { top: 205px; }
    &:nth-child(10) { top: 230px; }
    &:nth-child(11) { top: 265px; }
    &:nth-child(12) { top: 295px; }
    &:nth-child(13) { top: 330px; }
    &:nth-child(14) { top: 365px; }
    &:nth-child(15) { top: 400px; }
    &:nth-child(16) { top: 460px; }
    &:nth-child(17) { top: 570px; }
  }

  &:hover{
    width: 200px;
    .menu-item {
      opacity: 1;
      &.menu-static {
        > span {
          opacity: 1;
        }
      }
    }
  }
}

