@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-github, .icon-untitled, .icon-untitled-2, .icon-untitled-3, .icon-untitled-4, .icon-untitled-5, .icon-untitled-6, .icon-untitled-7, .icon-untitled-8, .icon-untitled-9, .icon-untitled-10, .icon-untitled-11, .icon-untitled-12, .icon-untitled-13, .icon-untitled-14, .icon-untitled-15, .icon-untitled-16, .icon-untitled-17, .icon-untitled-18, .icon-untitled-19, .icon-untitled-20, .icon-untitled-21, .icon-untitled-22, .icon-untitled-23, .icon-untitled-24, .icon-untitled-25, .icon-untitled-26, .icon-untitled-27, .icon-untitled-28, .icon-untitled-29, .icon-untitled-30 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-github:before {
	content: "\42";
}
.icon-untitled:before {
	content: "\33";
}
.icon-untitled-2:before {
	content: "\79";
}
.icon-untitled-3:before {
	content: "\69";
}
.icon-untitled-4:before {
	content: "\6f";
}
.icon-untitled-5:before {
	content: "\70";
}
.icon-untitled-6:before {
	content: "\68";
}
.icon-untitled-7:before {
	content: "\6a";
}
.icon-untitled-8:before {
	content: "\31";
}
.icon-untitled-9:before {
	content: "\32";
}
.icon-untitled-10:before {
	content: "\6b";
}
.icon-untitled-11:before {
	content: "\6c";
}
.icon-untitled-12:before {
	content: "\71";
}
.icon-untitled-13:before {
	content: "\72";
}
.icon-untitled-14:before {
	content: "\6d";
}
.icon-untitled-15:before {
	content: "\6e";
}
.icon-untitled-16:before {
	content: "\61";
}
.icon-untitled-17:before {
	content: "\62";
}
.icon-untitled-18:before {
	content: "\7a";
}
.icon-untitled-19:before {
	content: "\41";
}
.icon-untitled-20:before {
	content: "\73";
}
.icon-untitled-21:before {
	content: "\74";
}
.icon-untitled-22:before {
	content: "\63";
}
.icon-untitled-23:before {
	content: "\65";
}
.icon-untitled-24:before {
	content: "\64";
}
.icon-untitled-25:before {
	content: "\75";
}
.icon-untitled-26:before {
	content: "\76";
}
.icon-untitled-27:before {
	content: "\77";
}
.icon-untitled-28:before {
	content: "\66";
}
.icon-untitled-29:before {
	content: "\67";
}
.icon-untitled-30:before {
	content: "\78";
}
px dotted #ddd;*/

  padding: 0 0.4em;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.2em;
}
.flipper > .front header > div > div > span label:after,
.flipper > .front header > div > div > div > span label:after {
  position: absolute;
  margin-top: -0.5em;
  background-color: #545454;
  display: none;
  width: 1.2em;
  color: #f4f5f6;
  height: 1.2em;
  text-align: center;
  line-height: 1.2em;
  border-radius: 0.6em 0.6em 0.6em 0;
}
.flipper > .front header > div > div > span label[for='mode-code'],
.flipper > .front header > div > div > div > span label[for='mode-code'] {
  background-color: #f6dada;
  border-color: #f6dada;
  color: #b85151;
}
.flipper > .front header > div > div > span label[for='mode-code']:after,
.flipper > .front header > div > div > div > span label[for='mode-code']:after {
  content: '0';
}
.flipper > .front header > div > div > span label[for='mode-scheme'],
.flipper > .front header > div > div > div > span label[for='mode-scheme'] {
  background-color: #f6e1da;
  border-color: #f6e1da;
  color: #b86b51;
}
.flipper > .front header > div > div > span label[for='scheme-mono'],
.flipper > .front header > div > div > div > span label[for='scheme-mono'] {
  background-color: #f6f6da;
  border-color: #f6f6da;
  color: #b8b851;
}
.flipper > .front header > div > div > span label[for='scheme-mono']:after,
.flipper > .front header > div > div > div > span label[for='scheme-mono']:after {
  content: '1';
}
.flipper > .front header > div > div > span label[for='scheme-mono-d'],
.flipper > .front header > div > div > div > span label[for='scheme-mono-d'] {
  background-color: #eff6da;
  border-color: #eff6da;
  color: #9eb851;
}
.flipper > .front header > div > div > span label[for='scheme-mono-d']:after,
.flipper > .front header > div > div > div > span label[for='scheme-mono-d']:after {
  content: '2';
}
.flipper > .front header > div > div > span label[for='scheme-mono-l'],
.flipper > .front header > div > div > div > span label[for='scheme-mono-l'] {
  background-color: #e8f6da;
  border-color: #e8f6da;
  color: #85b851;
}
.flipper > .front header > div > div > span label[for='scheme-mono-l']:after,
.flipper > .front header > div > div > div > span label[for='scheme-mono-l']:after {
  content: '3';
}
.flipper > .front header > div > div > span label[for='scheme-ana'],
.flipper > .front header > div > div > div > span label[for='scheme-ana'] {
  background-color: #e1f6da;
  border-color: #e1f6da;
  color: #6bb851;
}
.flipper > .front header > div > div > span label[for='scheme-ana']:after,
.flipper > .front header > div > div > div > span label[for='scheme-ana']:after {
  content: '4';
}
.flipper > .front header > div > div > span label[for='scheme-comp'],
.flipper > .front header > div > div > div > span label[for='scheme-comp'] {
  background-color: #daf6da;
  border-color: #daf6da;
  color: #51b851;
}
.flipper > .front header > div > div > span label[for='scheme-comp']:after,
.flipper > .front header > div > div > div > span label[for='scheme-comp']:after {
  content: '5';
}
.flipper > .front header > div > div > span label[for='scheme-ana-c'],
.flipper > .front header > div > div > div > span label[for='scheme-ana-c'] {
  background-color: #daf6e1;
  border-color: #daf6e1;
  color: #51b86b;
}
.flipper > .front header > div > div > span label[for='scheme-ana-c']:after,
.flipper > .front header > div > div > div > span label[for='scheme-ana-c']:after {
  content: '6';
}
.flipper > .front header > div > div > span label[for='scheme-tri'],
.flipper > .front header > div > div > div > span label[for='scheme-tri'] {
  background-color: #daf6e8;
  border-color: #daf6e8;
  color: #51b885;
}
.flipper > .front header > div > div > span label[for='scheme-tri']:after,
.flipper > .front header > div > div > div > span label[for='scheme-tri']:after {
  content: '7';
}
.flipper > .front header > div > div > span label[for='scheme-quad'],
.flipper > .front header > div > div > div > span label[for='scheme-quad'] {
  background-color: #daf6ef;
  border-color: #daf6ef;
  color: #51b89e;
}
.flipper > .front header > div > div > span label[for='scheme-quad']:after,
.flipper > .front header > div > div > div > span label[for='scheme-quad']:after {
  content: '8';
}
.flipper > .front header > div > div > span label[for='format-hex'],
.flipper > .front header > div > div > div > span label[for='format-hex'] {
  background-color: #e1daf6;
  border-color: #e1daf6;
  color: #6b51b8;
}
.flipper > .front header > div > div > span label[for='format-rgb'],
.flipper > .front header > div > div > div > span label[for='format-rgb'] {
  background-color: #e8daf6;
  border-color: #e8daf6;
  color: #8551b8;
}
.flipper > .front header > div > div > span label[for='format-hsl'],
.flipper > .front header > div > div > div > span label[for='format-hsl'] {
  background-color: #efdaf6;
  border-color: #efdaf6;
  color: #9e51b8;
}
.flipper > .front header > div > div > span input[type=radio],
.flipper > .front header > div > div > div > span input[type=radio] {
  display: none;
}
.flipper > .front header > div > div > span input[type=radio]:checked + label[for='mode-code'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label[for='mode-code'],
.flipper > .front header > div > div > span input[type=radio]:checked + label + label[for='mode-code'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label + label[for='mode-code'] {
  border-color: #b85151;
}
.flipper > .front header > div > div > span input[type=radio]:checked + label[for='mode-scheme'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label[for='mode-scheme'],
.flipper > .front header > div > div > span input[type=radio]:checked + label + label[for='mode-scheme'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label + label[for='mode-scheme'] {
  border-color: #b86b51;
}
.flipper > .front header > div > div > span input[type=radio]:checked + label[for='scheme-mono'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label[for='scheme-mono'],
.flipper > .front header > div > div > span input[type=radio]:checked + label + label[for='scheme-mono'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label + label[for='scheme-mono'] {
  border-color: #b8b851;
}
.flipper > .front header > div > div > span input[type=radio]:checked + label[for='scheme-mono-d'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label[for='scheme-mono-d'],
.flipper > .front header > div > div > span input[type=radio]:checked + label + label[for='scheme-mono-d'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label + label[for='scheme-mono-d'] {
  border-color: #9eb851;
}
.flipper > .front header > div > div > span input[type=radio]:checked + label[for='scheme-mono-l'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label[for='scheme-mono-l'],
.flipper > .front header > div > div > span input[type=radio]:checked + label + label[for='scheme-mono-l'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label + label[for='scheme-mono-l'] {
  border-color: #85b851;
}
.flipper > .front header > div > div > span input[type=radio]:checked + label[for='scheme-ana'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label[for='scheme-ana'],
.flipper > .front header > div > div > span input[type=radio]:checked + label + label[for='scheme-ana'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label + label[for='scheme-ana'] {
  border-color: #6bb851;
}
.flipper > .front header > div > div > span input[type=radio]:checked + label[for='scheme-comp'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label[for='scheme-comp'],
.flipper > .front header > div > div > span input[type=radio]:checked + label + label[for='scheme-comp'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label + label[for='scheme-comp'] {
  border-color: #51b851;
}
.flipper > .front header > div > div > span input[type=radio]:checked + label[for='scheme-ana-c'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label[for='scheme-ana-c'],
.flipper > .front header > div > div > span input[type=radio]:checked + label + label[for='scheme-ana-c'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label + label[for='scheme-ana-c'] {
  border-color: #51b86b;
}
.flipper > .front header > div > div > span input[type=radio]:checked + label[for='scheme-tri'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label[for='scheme-tri'],
.flipper > .front header > div > div > span input[type=radio]:checked + label + label[for='scheme-tri'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label + label[for='scheme-tri'] {
  border-color: #51b885;
}
.flipper > .front header > div > div > span input[type=radio]:checked + label[for='scheme-quad'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label[for='scheme-quad'],
.flipper > .front header > div > div > span input[type=radio]:checked + label + label[for='scheme-quad'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label + label[for='scheme-quad'] {
  border-color: #51b89e;
}
.flipper > .front header > div > div > span input[type=radio]:checked + label[for='format-hex'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label[for='format-hex'],
.flipper > .front header > div > div > span input[type=radio]:checked + label + label[for='format-hex'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label + label[for='format-hex'] {
  border-color: #6b51b8;
}
.flipper > .front header > div > div > span input[type=radio]:checked + label[for='format-rgb'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label[for='format-rgb'],
.flipper > .front header > div > div > span input[type=radio]:checked + label + label[for='format-rgb'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label + label[for='format-rgb'] {
  border-color: #8551b8;
}
.flipper > .front header > div > div > span input[type=radio]:checked + label[for='format-hsl'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label[for='format-hsl'],
.flipper > .front header > div > div > span input[type=radio]:checked + label + label[for='format-hsl'],
.flipper > .front header > div > div > div > span input[type=radio]:checked + label + label[for='format-hsl'] {
  border-color: #9e51b8;
}
.flipper > .front header > div > .logo {
  float: left;
  text-align: left;
  margin-top: 0.5em;
}
.flipper > .front header > div > .logo a {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2em;
}
.flipper > .front header > div > .mode {
  float: left;
  text-align: left;
  margin-top: 0.75em;
  margin-left: 1em;
}
.flipper > .front header > div > .mode b {
  font-weight: 700;
  text-transform: uppercase;
}
.flipper > .front header > div > .convert {
  margin-top: 0.75em;
  float: right;
  text-align: right;
}
.flipper > .front header > div > .convert > div {
  display: inline-block;
}
.flipper > .front header > div > .convert > div:first-child {
  font-weight: 700;
  text-align: left;
  padding-right: 1.5em;
  vertical-align: 0.4em;
}
.flipper > .front header > div > .convert > div:last-child {
  vertical-align: 0.4em;
}
.flipper > .front header > div > .convert > div:last-child input[type=text] {
  width: 11em;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  border: 1px solid #bfbfbf;
  color: #bfbfbf;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 1.5em;
  border-radius: 0.2em;
}
.flipper > .front section {
  transform-style: preserve-3d;
  position: absolute;
  top: 4em;
  height: 100%;
  height: calc(100% -  7em);
  width: 100%;
  visibility: hidden;
  transform: translateZ(-100px);
}
.flipper > .front section.show {
  visibility: visible;
  transform: translateZ(0px);
  animation: show-right 1s forwards ease;
}
.flipper > .front section.show.firstrun {
  animation: none;
}
.flipper > .front section.hide {
  animation: hide-right 1s forwards ease;
}
.flipper > .front section > .colors {
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.flipper > .front section > .colors > div {
  overflow: hidden;
  transition: width 0.5s, background-color 0.5s, color 0.5s;
  box-shadow: 0 -1px 0 #999999 inset, 0 1px 0 #999999 inset, 0.1em 0 0.45em #000000;
  height: 100%;
  width: 100%;
  display: inline-block;
}
.flipper > .front section > .colors > div > div {
  transition: width 0.5s;
  position: absolute;
}
.flipper > .front section > .colors > div > .top {
  height: 2em;
}
.flipper > .front section > .colors > div > .center {
  overflow: hidden;
  height: 100%;
}
.flipper > .front section > .colors > div > .center > .info {
  font-size: 1.1em;
  position: relative;
  margin-top: -2.5em;
  top: 50%;
  width: 100%;
  user-select: text;
  text-align: center;
}
.flipper > .front section > .colors > div > .center > .info > b {
  display: none;
  left: 50%;
}
.flipper > .front section > .colors > div > .center > .info > span {
  display: inline-block;
  width: 8em;
  transition: background-color 0.5s;
}
.flipper > .front section > .colors > div > .center > .info > span > b {
  font-weight: 400;
  transition: opacity 0.25s;
}
.flipper > .front section > .colors > div > .center > .info > span > b:hover {
  text-decoration: underline overline;
}
.flipper > .front section > .colors > div > .center > .info > span.hex,
.flipper > .front section > .colors > div > .center > .info > span.rgb,
.flipper > .front section > .colors > div > .center > .info > span.hsl,
.flipper > .front section > .colors > div > .center > .info > span.hcl,
.flipper > .front section > .colors > div > .center > .info > span.lab {
  opacity: 0.75;
  transition: opacity 0.25s, background-color 0.5s;
}
.flipper > .front section > .colors > div > .center > .info > span.lab {
  padding-bottom: 1em;
}
.flipper > .front section > .colors > div > .center > .info > span.ctl {
  font-family: colourcode-icomoon;
  font-size: 1.2em;
  cursor: default;
  position: absolute;
  left: 50%;
  margin-left: -4em;
  user-select: none;
}
.flipper > .front section > .colors > div > .center > .info > span.ctl b {
  padding: 0.5em;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
}
.flipper > .front section > .colors > div > .center > .info > span.ctl b:hover {
  opacity: 0.75 !important;
}
.flipper > .front section > .colors > div > .bottom {
  height: 2em;
  bottom: 0;
  overflow: hidden;
  text-align: center;
}
.flipper > .front section > .colors > div > .bottom > span {
  font-family: colourcode-icomoon;
  font-size: 1.1em;
}
.flipper > .front section > .colors > div > .bottom > span > a {
  cursor: pointer;
  opacity: 0;
  padding: 0.5em;
  font-size: 1.2em;
  transition: opacity 0.25s;
}
.flipper > .front section > .colors > div > .bottom > span > a:first-child {
  display: none;
}
.flipper > .front section > .colors > div > .bottom > span > a:hover {
  opacity: 0.75 !important;
}
.flipper > .front section > .colors > div:hover > .center > .info > span {
  opacity: 1;
}
.flipper > .front section > .colors > div:hover > .center > .info > span.ctl b {
  opacity: 0.5;
}
.flipper > .front section > .colors > div:hover > .bottom > span > a {
  opacity: 0.5;
}
.flipper > .front section > .colors > div:first-child .ctl > b:nth-child(2) {
  margin-left: 2em;
}
.flipper > .front section > .colors > div:first-child .ctl > b:first-child {
  display: none;
}
.flipper > .front section > .colors > div:nth-last-child(2) .ctl > b:nth-child(2) {
  margin-right: 2em;
}
.flipper > .front section > .colors > div:nth-last-child(2) .ctl > b:last-child {
  display: none;
}
.flipper > .front section > .colors > div.color {
  cursor: default;
  transition: width 0.5s;
}
.flipper > .front section > .colors > div.color > .center > .info > span {
  transition: opacity 0.25s;
}
.flipper > .front section > .colors > div.color > .center > .info > span b {
  cursor: default;
  text-decoration: none;
}
.flipper > .front section > .colors > div.color:hover .ctl,
.flipper > .front section > .colors > div.color:hover .save {
  display: none;
}
.flipper > .front section > .colors > div.color.locked:hover .save {
  display: inline;
}
.flipper > .front section > .colors > div.locked > .center > .info {
  cursor: text;
}
.flipper > .front section > .colors > div.locked > .center > .info > span b {
  cursor: text;
}
.flipper > .front section > .colors > div.locked > .center > .info > span b:hover {
  text-decoration: overline underline;
}
.flipper > .front section > .colors > div.locked > .center > .info > b {
  opacity: 0.5;
  display: inline;
  cursor: pointer;
  font-family: colourcode-icomoon;
  font-size: 1.2em;
  font-weight: 400;
  position: absolute;
  transition: opacity 0.25s;
}
.flipper > .front section > .colors > div.locked > .center > .info > b:hover {
  opacity: 0.75;
}
.flipper > .front section > .colors > div.locked .save {
  display: inline;
}
.flipper > .front section > .colors > div.locked .save > a:hover {
  opacity: 0.5;
}
.flipper > .front section.scheme > .colors > div {
  transition: none !important;
}
.flipper > .front section.scheme > .colors > div > .center .info > span {
  transition: none;
}
.flipper > .front section.scheme > .colors > div .ctl {
  display: none !important;
}
.flipper > .front section.scheme > .colors > div .save {
  display: none;
}
.flipper > .front section.scheme > .colors > div.color.locked .save {
  display: inline;
}
.flipper > .front footer {
  width: 100%;
  overflow: hidden;
  height: 3em;
  position: absolute;
  bottom: 0;
  background-color: white;
  z-index: 3;
}
.flipper > .front footer .short {
  display: none;
}
.flipper > .front footer > div {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 1em;
}
.flipper > .front footer > div.shortcuts {
  display: none;
  margin-top: 0.8em;
  text-align: center;
}
.flipper > .front footer > div.shortcuts .icon {
  margin-left: 1em;
}
.flipper > .front footer > div > .copyright {
  float: left;
  text-align: left;
  margin-top: 0.25em;
  font-size: 0.9em;
}
.flipper > .front footer > div > .links {
  position: absolute;
  left: 53%;
  margin-top: 0.7em;
  margin-left: -4em;
}
.flipper > .front footer > div > .social {
  float: right;
  text-align: right;
  margin-top: 0.9em;
}
.flipper > .front footer > div > .social > div {
  float: right !important;
  overflow: hidden;
}
.flipper > .front footer > div > .social > div.tw {
  margin-top: 1px;
  width: 112px;
}
.flipper > .front footer > div > .social > div.po {
  margin-top: 1px;
  width: 75px;
}
.flipper > .front footer > div > .social > div.fb {
  width: 102px;
}
.flipper > .back {
  transform: rotateY(180deg);
  background-color: #252326;
  visibility: hidden;
  /* Modal container */

}
.flipper > .back > .flip-modal {
  width: 35em;
  margin: 5em auto;
  padding: 1.5em;
  background: #fefefe;
  border-radius: 0.2em;
  box-shadow: 0 0 0 0.35em rgba(255, 255, 255, 0.3);
  /* legal */

  /* help */

}
.flipper > .back > .flip-modal p {
  margin: 0 1em;
}
.flipper > .back > .flip-modal h2 > label {
  cursor: pointer;
}
.flipper > .back > .flip-modal h2,
.flipper > .back > .flip-modal h4 {
  margin: 0.5em 0 0.3em 0;
  font-variant: small-caps;
  font-weight: 700;
}
.flipper > .back > .flip-modal button {
  padding: 0.5em 2em;
  background: #888888;
  color: white;
  border: 0 none;
  border-radius: 0.2em;
  cursor: pointer;
  font-size: 0.8em;
}
.flipper > .back > .flip-modal .icon {
  font-family: colourcode-icomoon;
  font-weight: 400;
  vertical-align: -0.1em;
  margin-right: 0.5em;
}
.flipper > .back > .flip-modal .right {
  text-align: right;
}
.flipper > .back > .flip-modal .legal > div {
  transition: height 0.75s;
  height: 0em;
  overflow: hidden;
}
.flipper > .back > .flip-modal .legal > input {
  display: none;
}
.flipper > .back > .flip-modal .legal > input:checked + div {
  height: 16em;
  overflow: auto;
}
.flipper > .back > .flip-modal .legal p {
  font-size: 0.75em;
}
.flipper > .back > .flip-modal .help padding {
  line-height: 2em;
}
.flipper.hover {
  transform: rotateY(180deg);
}
/* responsive */
@media (max-width: 1270px) {
  header .convert .short {
    display: inherit !important;
  }
  header .convert .long {
    display: none;
  }
}
@media (max-width: 1100px) {
  header .logo .short {
    display: inherit !important;
  }
  header .logo .long {
    display: none;
  }
  .flipper > .front section > .colors > div {
    box-shadow: 0 -1px 0 #999999 inset, 0 1px 0 #999999 inset;
  }
}
@media (max-width: 900px) {
  section > div,
  .back > div {
    font-size: 0.9em;
  }
  footer .links {
    left: 45% !important;
  }
  footer .copyright .short {
    display: inline !important;
  }
  footer .copyright .long {
    display: none;
  }
  header .convert {
    display: none;
  }
}
@media (max-width: 700px) {
  section > div,
  .back > div {
    font-size: 0.8em;
  }
  footer .links {
    left: 37% !important;
  }
  .hex {
    width: 4em !important;
  }
  .info {
    height: 4em;
    overflow: hidden;
  }
  .info .rgb,
  .info .hsl,
  .info .hcl,
  .info .lab {
    display: none !important;
  }
  .info .ctl,
  .info > b {
    margin-top: -4em;
  }
}
@media (max-width: 550px) {
  footer {
    font-size: 0.9em;
  }
  footer .links {
    left: auto !important;
    right: 3%;
  }
  footer .social {
    display: none;
  }
  footer .copyright {
    margin-top: 0 !important;
  }
  section > div,
  .back > div {
    font-size: 0.7em;
  }
  .flip-modal {
    width: auto !important;
    margin: 0 !important;
  }
  header .mode .short {
    display: inherit !important;
  }
  header .mode .long {
    display: none;
  }
}
@media (max-width: 400px) {
  header {
    font-size: 0.9em;
  }
  section > div,
  .back > div {
    font-size: 0.6em;
  }
  footer {
    font-size: 0.8em;
  }
}
@media (max-width: 300px) {
  header {
    font-size: 0.8em;
  }
  section > div,
  .back > div {
    font-size: 0.5em;
  }
  footer {
    font-size: 0.7em;
  }
}
/* browser-specific */
html.ie .flipper.hover {
  transform: none;
}
html.ie .flipper.hover .back {
  transform: none;
}
html.ie .flipper.hover .front {
  display: none;
}
